<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Express JS</title>
    {{>headerlinks}}
</head>
<body>
    <!-- <h1>welcome to project</h1> -->
    
   {{>navbar}}

    <div class="container-fluid main">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 main_right ">
                        <figure>
                            <img src="img/clipart-hat-black-and-white-17.png" class="img-fluid" alt="">
                        </figure>                      
                    </div>
                    <div class="col-md-6 main_left jjj">
                        <p>welcome to weather app</p>
                        <h1>get the latest ather info </h1>
                        <a href="/about" class="btn">check now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

   {{>footer}}
    
</body>
</html>