<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Express JS</title>
    {{>headerlinks}}
    {{!-- <link rel="stylesheet" href="public/css/weather.css"> --}}
</head>
<body>
    <!-- <h1>welcome to project</h1> -->
    
   {{>navbar}}

    <div class="container-fluid main">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 main_right align-items-center ">
                        <div class="mainlogo">
		                    <div class="logo">
			                    <div class="circle"></div>
		                    </div>                            
	                   </div> 
                       <div class="">
                           <p class="text-uppercase" style="font-size: 4rem;">welcome to weather app</p>
                        <h1 class="text-uppercase">get the latest ather info </h1>
                       </div>
                                           
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

   {{>footer}}
    
</body>
</html>